*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding-bottom: 200px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.containerv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.containero{
    display: flex;
    gap: 20px;
}

.containerov{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav{
    padding: 15px 0;
    z-index: 1000;
}

a{
    text-decoration: none;
    font-weight: 540;
}

#div1{
    background-color: #2b2b2b;
    padding: 20px 30px;
    border-radius: 500px;
}

.a1{
    font-weight: 600;
    font-size: 20px;
}

.a2{
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px; 
    background-color: #34a6f3; 
    border-radius: 20px;
    border: none;
}

.a3{
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px; 
    background-color: #161616; 
    border-radius: 20px;
    border: 1px solid white;
}

h2{
    font-weight: 500;
    color: #83cdff; 
}

h1{
    font-size: 70px;
    font-weight: 500;
}

nav{
    background-color: #161616;
    position: fixed;
    top:0;
    left:0;
}

.img1{
    height: 600px;
    position: relative;
    z-index: 10;
}

.h1s{
    font-size: 30px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: #2b2b2b;;
}

.logo{
    height: 50px;
}

.div4{
    height: 500px;
    width: 400px;
    background-color: #2b2b2b;
    border-radius: 30px;
}

input:focus{
    outline: none;
}